openapi: 3.1.0
info:
  title: EFB Connector API
  description: |
    Multi-tenant portal for syncing GPS tracks from Garmin Connect to the
    Kanu-EFB portal. Provides magic-link authentication, encrypted credential
    storage, and scheduled sync.
  version: 1.0.0
  contact:
    url: https://efb-connector.sauroter.de

servers:
  - url: https://efb-connector.sauroter.de
    description: Production

tags:
  - name: Public
    description: Unauthenticated endpoints (landing, login, legal pages, health)
  - name: Dashboard
    description: Authenticated user endpoints (session cookie + CSRF)
  - name: Internal
    description: Admin/system endpoints (Bearer token)

# ---------------------------------------------------------------------------
# Security schemes
# ---------------------------------------------------------------------------
components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: session
      description: Session cookie set after magic-link verification.
    internalBearer:
      type: http
      scheme: bearer
      description: |
        `Authorization: Bearer <INTERNAL_SECRET>` — constant-time validated.

  # -------------------------------------------------------------------------
  # Reusable schemas
  # -------------------------------------------------------------------------
  schemas:
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [ok, unhealthy]
        version:
          type: string
        error:
          type: string
      required: [status]

    SystemStats:
      type: object
      properties:
        total_users:
          type: integer
        active_users:
          type: integer
        syncable_users:
          type: integer
        db_size_bytes:
          type: integer
          format: int64
        db_path:
          type: string
      required: [total_users, active_users, syncable_users, db_size_bytes, db_path]

    UserStatus:
      type: object
      properties:
        id:
          type: integer
          format: int64
        email:
          type: string
        created_at:
          type: string
          format: date-time
        is_active:
          type: boolean
        sync_enabled:
          type: boolean
        preferred_lang:
          type: string
        garmin_connected:
          type: boolean
        garmin_valid:
          type: boolean
        efb_connected:
          type: boolean
        efb_valid:
          type: boolean
        last_sync_at:
          type: string
          format: date-time
          nullable: true
        last_sync_status:
          type: string
      required:
        - id
        - email
        - created_at
        - is_active
        - sync_enabled
        - preferred_lang
        - garmin_connected
        - garmin_valid
        - efb_connected
        - efb_valid

    SyncRun:
      description: |
        Mirrors the sync_runs table. The Go struct has no JSON tags, so
        fields are PascalCase in JSON output.
      type: object
      properties:
        ID:
          type: integer
          format: int64
        UserID:
          type: integer
          format: int64
        Trigger:
          type: string
        StartedAt:
          type: string
          format: date-time
        FinishedAt:
          type: string
          format: date-time
          nullable: true
        Status:
          type: string
          enum: [running, completed, failed, partial]
        ActivitiesFound:
          type: integer
        ActivitiesSynced:
          type: integer
        ActivitiesSkipped:
          type: integer
        ActivitiesFailed:
          type: integer
        TripsCreated:
          type: integer
        ErrorMessage:
          type: string
      required:
        - ID
        - UserID
        - Trigger
        - StartedAt
        - Status
        - ActivitiesFound
        - ActivitiesSynced
        - ActivitiesSkipped
        - ActivitiesFailed
        - TripsCreated
        - ErrorMessage

    FailedActivityDetail:
      description: |
        A failed or permanent_failure activity with the user's email.
        Fields are PascalCase (no JSON tags on the Go struct).

        ResponseStatusCode / ResponseSizeBytes / ResponseBodyExcerpt
        capture the raw EFB upload response when the failure reached the
        HTTP layer; ResponseBodyExcerpt is omitted from list responses
        unless `?include_body=1` is passed. ResponseBodyExcerpt is
        capped at 16 KB per row, with at most 5 rows total retaining a
        non-empty value (older excerpts are nulled on insert of new
        ones to bound DB growth).
      type: object
      properties:
        ID:
          type: integer
          format: int64
        UserID:
          type: integer
          format: int64
        GarminActivityID:
          type: string
        ActivityName:
          type: string
        ActivityType:
          type: string
        ActivityDate:
          type: string
        SyncedAt:
          type: string
          format: date-time
        UploadStatus:
          type: string
          enum: [failed, permanent_failure]
        RetryCount:
          type: integer
        ErrorMessage:
          type: string
        ResponseStatusCode:
          type: integer
          description: HTTP status code from EFB upload, 0 if no HTTP layer reached.
        ResponseSizeBytes:
          type: integer
          description: Full size in bytes of the EFB response body (uncapped).
        ResponseBodyExcerpt:
          type: string
          description: |
            Raw EFB response body, capped at 16 KB. Only populated when
            the upload reached HTTP 200 but did not contain the success
            marker and no recognised hint pattern matched (i.e. silent
            rejection). Omitted from list responses unless
            `?include_body=1` is set.
        Email:
          type: string
      required:
        - ID
        - UserID
        - GarminActivityID
        - ActivityName
        - ActivityType
        - ActivityDate
        - SyncedAt
        - UploadStatus
        - RetryCount
        - ErrorMessage
        - Email

    DebugUploadResult:
      description: |
        Output of POST /internal/admin/users/{id}/debug-upload — a one-shot
        dry-run EFB upload attempt that returns the raw response without
        mutating any database state.
      type: object
      properties:
        user_id:
          type: integer
          format: int64
        garmin_activity_id:
          type: string
        gpx_size_bytes:
          type: integer
        upload:
          $ref: "#/components/schemas/DebugUploadResponse"
      required: [user_id, garmin_activity_id, gpx_size_bytes, upload]

    DebugUploadResponse:
      description: Raw EFB upload response captured for debugging.
      type: object
      properties:
        request_url:
          type: string
        status_code:
          type: integer
        final_url:
          type: string
        response_headers:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
        response_body:
          type: string
          description: Raw response body, capped at 64 KB; see `truncated`.
        body_size_bytes:
          type: integer
          description: Full size of the EFB response body in bytes (uncapped).
        truncated:
          type: boolean
          description: True if response_body was truncated to fit the 64 KB cap.
        contains_success_marker:
          type: boolean
        is_login_page:
          type: boolean
      required:
        - status_code
        - response_body
        - body_size_bytes
        - truncated
        - contains_success_marker
        - is_login_page

    UserSyncResult:
      description: Streamed as one NDJSON line per user during sync-all.
      type: object
      properties:
        user_id:
          type: integer
          format: int64
        email:
          type: string
        status:
          type: string
          enum: [success, error]
        error:
          type: string
        found:
          type: integer
        synced:
          type: integer
        skipped:
          type: integer
        failed:
          type: integer
        trips_created:
          type: integer
      required: [user_id, email, status, found, synced, skipped, failed, trips_created]

    Feedback:
      type: object
      properties:
        id:
          type: integer
          format: int64
        user_id:
          type: integer
          format: int64
        user_email:
          type: string
        category:
          type: string
          enum: [bug, feature, general]
        message:
          type: string
        created_at:
          type: string
          format: date-time
      required: [id, user_id, category, message, created_at]

    AdminSyncResponse:
      type: object
      properties:
        status:
          type: string
          enum: [completed, error]
        run_id:
          type: integer
          format: int64
        error:
          type: string
      required: [status, run_id]

    NotifyResponse:
      type: object
      properties:
        sent:
          type: integer
        errors:
          type: array
          items:
            type: string
          nullable: true
      required: [sent]

    ResendSyncResponse:
      type: object
      properties:
        synced:
          type: integer
        active:
          type: integer
        needs_setup:
          type: integer
        errors:
          type: array
          items:
            type: string
          nullable: true
      required: [synced, active, needs_setup]

# ---------------------------------------------------------------------------
# Paths
# ---------------------------------------------------------------------------
paths:
  # ── Public ──────────────────────────────────────────────────────────────

  /:
    get:
      tags: [Public]
      summary: Landing page
      description: Renders the landing page. Redirects to /dashboard if already authenticated.
      operationId: getLanding
      responses:
        "200":
          description: HTML landing page
          content:
            text/html:
              schema:
                type: string

  /login:
    get:
      tags: [Public]
      summary: Login form
      operationId: getLoginForm
      responses:
        "200":
          description: HTML login form
          content:
            text/html:
              schema:
                type: string
    post:
      tags: [Public]
      summary: Submit login (send magic link)
      description: |
        Sends a magic-link email to the provided address.
        Rate-limited by email + IP.
      operationId: postLogin
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
              required: [email]
      responses:
        "303":
          description: Redirect to confirmation page
        "400":
          description: Invalid email
        "429":
          description: Rate limit exceeded

  /auth/verify:
    get:
      tags: [Public]
      summary: Verify magic link
      description: Validates the token, creates a session, and redirects to /dashboard.
      operationId: getVerifyMagicLink
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
      responses:
        "303":
          description: Redirect to /dashboard with session cookie set
          headers:
            Set-Cookie:
              schema:
                type: string

  /impressum:
    get:
      tags: [Public]
      summary: Legal notice (Impressum)
      description: Renders DE or EN version based on language context.
      operationId: getImpressum
      responses:
        "200":
          description: HTML legal notice
          content:
            text/html:
              schema:
                type: string

  /privacy:
    get:
      tags: [Public]
      summary: Privacy policy
      description: Renders DE or EN version based on language context.
      operationId: getPrivacy
      responses:
        "200":
          description: HTML privacy policy
          content:
            text/html:
              schema:
                type: string

  /favicon.ico:
    get:
      tags: [Public]
      summary: Favicon
      operationId: getFavicon
      responses:
        "200":
          description: SVG favicon
          content:
            image/svg+xml:
              schema:
                type: string
                format: binary

  /static/{path}:
    get:
      tags: [Public]
      summary: Static files
      operationId: getStaticFile
      parameters:
        - name: path
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Static file content
        "404":
          description: File not found

  /health:
    get:
      tags: [Public]
      summary: Health check
      description: Checks database connectivity. Returns 503 if unhealthy.
      operationId: getHealth
      responses:
        "200":
          description: Healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "503":
          description: Unhealthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  # ── Dashboard (authenticated) ──────────────────────────────────────────

  /auth/logout:
    post:
      tags: [Dashboard]
      summary: Logout
      description: Destroys the session and clears the cookie.
      operationId: postLogout
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                csrf_token:
                  type: string
              required: [csrf_token]
      responses:
        "303":
          description: Redirect to / with flash message

  /dashboard:
    get:
      tags: [Dashboard]
      summary: Dashboard
      description: |
        Shows connection status, last sync stats, and a setup wizard
        if the user has not completed initial configuration.
      operationId: getDashboard
      security:
        - sessionCookie: []
      responses:
        "200":
          description: HTML dashboard
          content:
            text/html:
              schema:
                type: string
        "303":
          description: Redirect to /login if unauthenticated

  /settings:
    get:
      tags: [Dashboard]
      summary: Settings page
      description: Consolidated settings view with tabs for Garmin, EFB, and preferences.
      operationId: getSettings
      security:
        - sessionCookie: []
      responses:
        "200":
          description: HTML settings page
          content:
            text/html:
              schema:
                type: string

  /settings/garmin:
    get:
      tags: [Dashboard]
      summary: Garmin settings form
      operationId: getGarminSettings
      security:
        - sessionCookie: []
      responses:
        "200":
          description: HTML form for Garmin credentials
          content:
            text/html:
              schema:
                type: string
    post:
      tags: [Dashboard]
      summary: Save Garmin credentials
      description: |
        Validates credentials against Garmin Connect, then encrypts and stores them.
        Handles MFA errors.
      operationId: postGarminSettings
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                csrf_token:
                  type: string
              required: [email, password, csrf_token]
      responses:
        "303":
          description: Redirect to /dashboard on success or /settings/garmin on error
        "400":
          description: Missing required fields

  /settings/garmin/mfa:
    get:
      tags: [Dashboard]
      summary: Garmin MFA code entry form
      description: |
        Renders a form for entering the 6-digit MFA verification code.
        Redirects to /settings/garmin if no MFA session is pending.
      operationId: getGarminMFA
      security:
        - sessionCookie: []
      responses:
        "200":
          description: HTML form for MFA code entry
          content:
            text/html:
              schema:
                type: string
        "303":
          description: Redirect to /settings/garmin if no MFA session
    post:
      tags: [Dashboard]
      summary: Submit Garmin MFA code
      description: |
        Completes the MFA verification started during credential validation.
        On success, marks credentials as valid and redirects to /dashboard.
        On failure, redirects to /settings/garmin with an error flash.
      operationId: postGarminMFA
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                mfa_code:
                  type: string
                  pattern: "^[0-9]{6}$"
                  description: 6-digit verification code from authenticator app
                csrf_token:
                  type: string
              required: [mfa_code, csrf_token]
      responses:
        "303":
          description: Redirect to /dashboard on success or /settings/garmin on error
        "400":
          description: Missing required fields

  /settings/garmin/delete:
    post:
      tags: [Dashboard]
      summary: Delete Garmin credentials
      description: Removes encrypted Garmin credentials and token cache.
      operationId: postGarminDelete
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                csrf_token:
                  type: string
              required: [csrf_token]
      responses:
        "303":
          description: Redirect to /settings/garmin

  /settings/efb:
    get:
      tags: [Dashboard]
      summary: EFB settings form
      operationId: getEFBSettings
      security:
        - sessionCookie: []
      responses:
        "200":
          description: HTML form for EFB credentials
          content:
            text/html:
              schema:
                type: string
    post:
      tags: [Dashboard]
      summary: Save EFB credentials
      description: Validates credentials against the EFB portal, then encrypts and stores them.
      operationId: postEFBSettings
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
                  format: password
                csrf_token:
                  type: string
              required: [username, password, csrf_token]
      responses:
        "303":
          description: Redirect to /dashboard on success or /settings/efb on error
        "400":
          description: Missing required fields

  /settings/efb/delete:
    post:
      tags: [Dashboard]
      summary: Delete EFB credentials
      description: Removes encrypted EFB credentials from the database.
      operationId: postEFBDelete
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                csrf_token:
                  type: string
              required: [csrf_token]
      responses:
        "303":
          description: Redirect to /settings/efb

  /settings/auto-create-trips:
    post:
      tags: [Dashboard]
      summary: Toggle auto-create trips
      operationId: postAutoCreateTrips
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                enabled:
                  type: string
                  description: '"1" for enabled, absent for disabled'
                csrf_token:
                  type: string
              required: [csrf_token]
      responses:
        "303":
          description: Redirect to /settings or /dashboard

  /settings/enrich-trips:
    post:
      tags: [Dashboard]
      summary: Toggle trip enrichment (Rivermap)
      operationId: postEnrichTrips
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                enabled:
                  type: string
                  description: '"1" for enabled, absent for disabled'
                csrf_token:
                  type: string
              required: [csrf_token]
      responses:
        "303":
          description: Redirect to /settings or /dashboard

  /settings/language:
    post:
      tags: [Dashboard]
      summary: Save language preference
      operationId: postLanguage
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                lang:
                  type: string
                  enum: [en, de]
                csrf_token:
                  type: string
              required: [lang, csrf_token]
      responses:
        "303":
          description: Redirect to /settings. Also sets a `lang` cookie (365 days).

  /setup/configure:
    post:
      tags: [Dashboard]
      summary: Complete initial setup
      description: Saves auto-create and enrich preferences and marks setup as completed.
      operationId: postSetupConfigure
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                auto_create_trips:
                  type: string
                  description: '"1" for enabled'
                enrich_trips:
                  type: string
                  description: '"1" for enabled'
                csrf_token:
                  type: string
              required: [csrf_token]
      responses:
        "303":
          description: Redirect to /dashboard

  /account/delete:
    post:
      tags: [Dashboard]
      summary: Delete account
      description: |
        Destroys the session, deletes the user and all cascaded data,
        and removes the Garmin token cache from disk.
      operationId: postAccountDelete
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                csrf_token:
                  type: string
              required: [csrf_token]
      responses:
        "303":
          description: Redirect to / with flash message

  /sync/trigger:
    post:
      tags: [Dashboard]
      summary: Trigger manual sync
      description: |
        Launches a background sync for the current user.
        Rate-limited to 1 sync per hour. Optional date range (max 120 days).
        Returns an HTMX partial if `HX-Request` header is present.
      operationId: postSyncTrigger
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                start_date:
                  type: string
                  format: date
                  description: ISO 8601 date (YYYY-MM-DD), optional
                end_date:
                  type: string
                  format: date
                  description: ISO 8601 date (YYYY-MM-DD), optional
                csrf_token:
                  type: string
              required: [csrf_token]
      responses:
        "200":
          description: HTMX partial (when HX-Request header present)
          content:
            text/html:
              schema:
                type: string
        "303":
          description: Redirect to /dashboard with flash message
        "400":
          description: Invalid date range
        "429":
          description: Rate limit exceeded (1 per hour)

  /sync/efb/recheck-consent:
    post:
      tags: [Dashboard]
      summary: Re-check EFB v2026.1 track-usage consent gate
      description: |
        Used by the dashboard banner after the user clicks "ich stimme
        zu" on the EFB portal. Performs a single GET against EFB to
        verify the consent gate is gone, **bypassing** the per-user
        1/hour sync rate limit so users can confirm immediately after
        consenting.

        Has its own (more permissive) per-user rate limit of 6/hour to
        guard against runaway clients hammering EFB.

        - Still gated → flash `flash.efb_consent_still_required`,
          banner remains.
        - Cleared → clear `efb_credentials.consent_required`, kick off
          one immediate sync via `SyncEngine.SyncUser` (also bypassing
          the sync rate limit), flash `flash.efb_consent_confirmed`.
        - Login or transport failure → flash
          `flash.efb_consent_recheck_failed`, no state change.
        - Recheck rate limit exceeded (6/hour) → flash
          `flash.efb_consent_recheck_rate_limited`, no state change.
      operationId: postEFBRecheckConsent
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                csrf_token:
                  type: string
              required: [csrf_token]
      responses:
        "303":
          description: |
            Redirect to /dashboard with one of the flash messages above
            (including the rate-limit flash when the 6/hour cap is hit;
            the response code is still 303 because the user-facing UX
            is a redirected flash, not an HTTP error).

  /sync/status:
    get:
      tags: [Dashboard]
      summary: Get sync status
      description: Returns an HTML partial for HTMX polling from the dashboard.
      operationId: getSyncStatus
      security:
        - sessionCookie: []
      responses:
        "200":
          description: HTML partial with sync status
          content:
            text/html:
              schema:
                type: string

  /sync/history:
    get:
      tags: [Dashboard]
      summary: Sync history
      operationId: getSyncHistory
      security:
        - sessionCookie: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: HTML page listing sync runs
          content:
            text/html:
              schema:
                type: string

  /feedback:
    post:
      tags: [Dashboard]
      summary: Submit feedback
      description: |
        Rate-limited to 3 per calendar day per user.
        Sends email notification if FEEDBACK_EMAIL is configured.
      operationId: postFeedback
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                category:
                  type: string
                  enum: [bug, feature, general]
                message:
                  type: string
                  minLength: 1
                  maxLength: 2000
                  description: UTF-8, 1-2000 runes
                csrf_token:
                  type: string
              required: [category, message, csrf_token]
      responses:
        "303":
          description: Redirect to /dashboard with flash message
        "400":
          description: Invalid category or message length
        "429":
          description: Rate limit exceeded (3 per day)

  # ── Internal / Admin ───────────────────────────────────────────────────

  /internal/admin/status:
    get:
      tags: [Internal]
      summary: System statistics
      operationId: getAdminStatus
      security:
        - internalBearer: []
      responses:
        "200":
          description: Aggregate system stats
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemStats"
        "401":
          description: Unauthorized
        "500":
          description: Internal server error

  /internal/admin/users:
    get:
      tags: [Internal]
      summary: List all users
      operationId: getAdminUsers
      security:
        - internalBearer: []
      responses:
        "200":
          description: All users with credential and sync status
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserStatus"
        "401":
          description: Unauthorized
        "500":
          description: Internal server error

  /internal/admin/users/{id}/sync-history:
    get:
      tags: [Internal]
      summary: User sync history
      description: Returns the 50 most recent sync runs for a specific user.
      operationId: getAdminUserSyncHistory
      security:
        - internalBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: List of sync runs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SyncRun"
        "400":
          description: Invalid user ID
        "401":
          description: Unauthorized
        "500":
          description: Internal server error

  /internal/admin/users/{id}/sync:
    post:
      tags: [Internal]
      summary: Trigger user sync
      description: Triggers an immediate sync for a specific user, bypassing the rate limiter.
      operationId: postAdminUserSync
      security:
        - internalBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Sync completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminSyncResponse"
        "400":
          description: Invalid user ID
        "401":
          description: Unauthorized
        "500":
          description: Sync failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminSyncResponse"

  /internal/admin/errors:
    get:
      tags: [Internal]
      summary: Recent errors
      description: Returns the 50 most recent failed or partial sync runs across all users.
      operationId: getAdminErrors
      security:
        - internalBearer: []
      responses:
        "200":
          description: Failed/partial sync runs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SyncRun"
        "401":
          description: Unauthorized
        "500":
          description: Internal server error

  /internal/admin/activity-errors:
    get:
      tags: [Internal]
      summary: Recent activity-level errors
      description: |
        Returns the 50 most recent failed or permanent_failure activities
        across all users, with per-activity error details.

        ResponseBodyExcerpt is omitted by default to keep the payload
        small. Pass `?include_body=1` to include it for inspection of
        silent EFB rejections that the in-band diagnostics couldn't
        classify.
      operationId: getAdminActivityErrors
      security:
        - internalBearer: []
      parameters:
        - name: include_body
          in: query
          required: false
          description: Set to `1` to include the ResponseBodyExcerpt field on each row.
          schema:
            type: string
            enum: ["1"]
      responses:
        "200":
          description: Failed activities with error details
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FailedActivityDetail"
        "401":
          description: Unauthorized
        "500":
          description: Internal server error

  /internal/admin/activity-errors/{id}:
    get:
      tags: [Internal]
      summary: Single failed activity by id
      description: |
        Returns a single failed/permanent_failure activity by row ID,
        always including the full ResponseBodyExcerpt. Used to drill into
        a specific silent rejection.
      operationId: getAdminActivityError
      security:
        - internalBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Failed activity row
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FailedActivityDetail"
        "400":
          description: Invalid id
        "401":
          description: Unauthorized
        "404":
          description: Not found
        "500":
          description: Internal server error

  /internal/admin/users/{id}/debug-upload:
    post:
      tags: [Internal]
      summary: Dry-run EFB upload for debugging
      description: |
        Performs a one-shot EFB upload attempt for the given user using
        their stored credentials, downloads a Garmin activity, and
        returns the raw EFB HTTP response. Does NOT update
        synced_activities, sync_runs, or any other state.

        If the request body omits `garmin_activity_id`, the most recent
        activity in the user's default sync window is used.
      operationId: postAdminUserDebugUpload
      security:
        - internalBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                garmin_activity_id:
                  type: string
                  description: Optional. If empty, the most recent activity is used.
      responses:
        "200":
          description: Raw EFB response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DebugUploadResult"
        "400":
          description: Invalid user id or JSON body
        "401":
          description: Unauthorized
        "500":
          description: Login, GPX download, or upload failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  error:
                    type: string

  /internal/admin/feedback:
    get:
      tags: [Internal]
      summary: List feedback
      description: Returns up to 100 most recent feedback entries with user emails.
      operationId: getAdminFeedback
      security:
        - internalBearer: []
      responses:
        "200":
          description: Feedback entries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Feedback"
        "401":
          description: Unauthorized
        "500":
          description: Internal server error

  /internal/admin/notify-garmin-upgrade:
    post:
      tags: [Internal]
      summary: Notify Garmin upgrade
      description: |
        Sends a language-aware notification email to all users with Garmin
        credentials about a Garmin integration upgrade.
      operationId: postAdminNotifyGarminUpgrade
      security:
        - internalBearer: []
      responses:
        "200":
          description: Notification results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotifyResponse"
        "401":
          description: Unauthorized
        "500":
          description: Internal server error

  /internal/admin/sync-resend-contacts:
    post:
      tags: [Internal]
      summary: Sync users to Resend contacts
      description: |
        Creates or updates all users as Resend contacts and assigns them
        to "Active Syncers" or "Needs Setup" segments based on their
        current credential state. Idempotent — safe to call repeatedly.
        Requires RESEND_SEGMENT_ACTIVE and RESEND_SEGMENT_NEEDS_SETUP
        environment variables.
      operationId: postAdminSyncResendContacts
      security:
        - internalBearer: []
      responses:
        "200":
          description: Sync results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResendSyncResponse"
        "400":
          description: Segment IDs not configured
        "401":
          description: Unauthorized
        "500":
          description: Internal server error

  /internal/admin/dev/mock-efb/consent-gate:
    post:
      tags: [Internal]
      summary: (Dev only) Toggle MockEFBProvider consent gate
      description: |
        Flips the simulated EFB v2026.1 track-usage consent gate on the
        in-process MockEFBProvider. Effective only when DEV_MODE=true; in
        production the request returns 404 because the real EFBClient does
        not implement the gate-control interface.

        Used by the local consent-flow runbook to reproduce the silent
        rejection without talking to real EFB.
      operationId: postAdminDevMockEFBConsentGate
      security:
        - internalBearer: []
      parameters:
        - name: on
          in: query
          required: false
          description: "Set to `1` to enable the gate, anything else (or omit) to clear it."
          schema:
            type: string
      responses:
        "200":
          description: New gate state
          content:
            application/json:
              schema:
                type: object
                properties:
                  consent_gate:
                    type: boolean
                required: [consent_gate]
        "401":
          description: Unauthorized
        "404":
          description: Production deployment — mock provider not in use

  /internal/sync/run-all:
    post:
      tags: [Internal]
      summary: Sync all users
      description: |
        Triggers a sync for all eligible users using a worker pool of 2.
        Streams NDJSON progress lines (one per user). Final line indicates
        overall status. Total timeout: 15 minutes.
      operationId: postSyncAll
      security:
        - internalBearer: []
      responses:
        "200":
          description: NDJSON stream of per-user results followed by a final status line
          content:
            application/x-ndjson:
              schema:
                $ref: "#/components/schemas/UserSyncResult"
        "401":
          description: Unauthorized
        "500":
          description: Internal server error
