{{ T "email.common.greeting" }}

{{ T "email.efb_consent.body_intro" }}

{{ T "email.efb_consent.body_action" }}

{{ .ConsentURL }}

{{ T "email.efb_consent.body_outro" }}

{{ T "email.common.regards" }},
EFB Connector
