<p>{{ T "email.common.greeting" }}</p>
<p>{{ T "email.efb_consent.body_intro" }}</p>
<p>{{ T "email.efb_consent.body_action" }}</p>
<p><a href="{{ .ConsentURL }}" target="_blank">{{ T "email.efb_consent.cta" }}</a></p>
<p>{{ T "email.efb_consent.body_outro" }}</p>
<p>{{ T "email.common.regards" }},<br>EFB Connector</p>
