{{ T "email.feedback.from_label" }} {{ .UserEmail }} ({{ Tf "email.feedback.user_id_label" .UserID }})
{{ T "email.feedback.category_label" }} {{ .Category }}

{{ T "email.feedback.message_label" }}

{{ .Message }}
