<p><strong>{{ T "email.feedback.from_label" }}</strong> {{ .UserEmail }} ({{ Tf "email.feedback.user_id_label" .UserID }})</p>
<p><strong>{{ T "email.feedback.category_label" }}</strong> {{ .Category }}</p>
<p><strong>{{ T "email.feedback.message_label" }}</strong></p>
<p>{{ .Message }}</p>
