<p>{{ T "email.common.greeting" }}</p>
<p>{{ T "email.garmin_upgrade.intro" }}</p>
<p>{{ T "email.garmin_upgrade.body_action" }}</p>
<p><a href="{{ .SettingsURL }}">{{ T "email.garmin_upgrade.cta" }}</a></p>
<p>{{ T "email.common.regards" }},<br>EFB Connector</p>
