<p>{{ T "email.common.greeting" }}</p>
<p>{{ T "email.magic_link.intro" }}</p>
<p><a href="{{ .Link }}">{{ T "email.magic_link.cta" }}</a></p>
<p>{{ T "email.magic_link.expiry_note" }}</p>
<p>{{ T "email.common.regards" }},<br>EFB Connector</p>
